<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    {% seo %}

    <link rel="stylesheet" href="/assets/css/style.css">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#EF5350">
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <a href="/">
            <h1><span style="background-color: #EF5350">Organic Tomato Basil Marinara</span></h1>
        </a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view">
            <a aria-label="My Github Profile" href="https://github.com/{{ site.github_username }}">
                <i class="social" data-feather="github"></i>
            </a>
            <a aria-label="My Twitter Profile" href="https://twitter.com/{{ site.twitter_username }}">
                <i class="social" data-feather="twitter"></i>
            </a>
        </p>
    </header>
    <section>

        {{ content }}
        {% if page.is_post %}
        <a href="/">Back</a>
        {% endif %}
    </section>
    <footer>
        <a href="/interesting.html">This could be interesting.</a>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
</div>
<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
<script>
    feather.replace()
</script>
</body>
</html>